/* https://github.com/leandrowd/react-responsive-carousel/blob/master/src/examples/presentation/presentation.scss */

.fullscreen-button {
  cursor: pointer;
}

.image {
  background: url(../../../static/img/bike_27.webp);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.presentation-mode {
  border: 0;
  margin: 10px auto;
  padding: 0;
  display: inline-block;
  width: 100%;

  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.presentation-mode .slide {
  /*
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    font-size: 1.5em;
    color: black;
    */

  text-align: left;
  height: 100vh;
  padding: 75px;
}

.presentation-mode .primary {
  background-color: aquamarine;
}

.presentation-mode .secondary {
  background-color: darkmagenta;
}
