/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/*
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
*/

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBackground {
  background: url(../../static/img/bike_1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.slides {
  scroll-snap-type: y mandatory;
}

.slide {
  block-size: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  display: grid;
  place-items: center;
}

.projectCard {
  block-size: 40vh;
  /* place-items: center; */
}

.cardTitle {
  font-weight: 900;
  font-size: 3rem;
  color: var(--ifm-color-white);
}

.cardTitle:hover {
  color: var(--ifm-color-primary);
}

.firstProject {
  background: url(../../static/img/bike_2.webp);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondProject {
  background: url(../../static/img/bike_3.webp);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
