/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/*
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
*/

.firstProject {
  background: url(../../static/img/bike_11.webp);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondProject {
  background: url(../../static/img/bike_6.webp);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thirdProject {
  background: url(../../static/img/bike_7.webp);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.highlight {
  font-weight: 600;
}

.text {
  font-size: 1.5rem;
}

.title {
  /* text-decoration: underline; */
  border-top: 3px solid var(--ifm-color-gray-400);
}

.position {
  font-size: 2rem;
}

.company {
  font-size: 1.5rem;
  color: var(--ifm-color-gray-800);
  line-height: 60%;
}

.date {
  font-size: 1.2rem;
  color: var(--ifm-color-gray-700);
}

.listingEnd {
  border-bottom: 1px solid var(--ifm-color-gray-400);
}

.articleStatus {
  color: white;
}
