.heroTitle {
  color: var(--ifm-color-primary);
  font-size: 17rem;
  font-weight: 700;

  padding-top: calc(1.525rem + 8vw);
}

.heroSection {
  /*
  background: #333;
  height: 50vh;
  position: relative;
  width: 100%;

  */
  background: url(../../static/img/bike_1.webp);
  background-repeat: no-repeat;
  background-size: cover;

  block-size: 100vh;

  cursor: pointer;
}

.heroSection::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  content: "╲╱";
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
