.slide {
  /* block-size: 100vh; */

  border-top: 1px solid var(--ifm-color-gray-400);

  /*
    scroll-snap-align: center;
    scroll-snap-stop: always;
  
    display: grid;
    place-items: center;
    */
}
