.eachSlide {
  background-color: white;
  position: relative;
}

.fullScreenOn {
  height: 100vh;
  width: 100vw;
}

.fullScreenOff {
  width: 100%;
  height: 75%;
}

.firstProject {
  background: url(../../static/img/bike_27.webp);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
